//registry.npmjs.org/:_authToken=<d758ba936125b5ea03af0c798cd88b11Tz05ODcwMSxFPTE3NTg3NDc2MjAwMDAsUz1wcm8sTE09c3Vic2NyaXB0aW9uLFBWPVEzLTIwMjQsS1Y9Mg==>
@mui:registry=https://registry.npmjs.org/

# Add these lines:
legacy-peer-deps=true
strict-peer-dependencies=false
package-lock=false
auto-install-peers=true
node-linker=hoisted