/* marketplace.css */

/* Add some padding/margin to the slides */
.slick-slide {
    padding: 0 10px;
  }
  
  .slick-list {
    padding: 0px 50px; /* Adds space to the left and right of the entire carousel */
  }
  
  .slick-track {
    display: flex;
  }
  
  /* Control the grid items */
  .grid-item img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 10px;
  }
  